body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr, auto, auto, 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 1em;
  overflow-x: hidden;
}

#button {
  grid-column: 2/3;
}

.vlakje {
  grid-column: 3/4;
  background-color: dodgerblue;
  width: 8em;
  height: 5em;
  margin: 0 auto;
  transition: transform .6s cubic-bezier(.17,.67,.71,1.29)
}

.vlakje--schuif-uit {
  transform: translateX(43vw);
}

#vlak-2 {
  transition-delay: .1s;
}

#vlak-3 {
  transition-delay: .2s;
}
