html, body {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

h2 {
  margin-top: 10%;
  text-align: center;
}

#inschrijf_formulier {
  background: linear-gradient(to right, #F2F2F2 0%, #F2F2F2 90%, #990033 90%, #990033 100%);
  margin: 10% 0% 0% 0%;
  width: 100%;
}

.tab {
  width: 90%;
  display: none;
}

/* TABJE 1 */


.page1 {
  padding-top: 5%;
  margin-left: 15%;
}

.form-group:nth-child(5) {}

.form-control {
  width: 70%;
  margin-left: 15%;
  border: 1px solid #990033;
  border-radius: 1px;
}

#tussenvoegsel {
  width: 50%;
}

.custom-control-inline {
  margin-left: 15%;
  cursor: pointer;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
  background-color: #990033;
}

/* TABJE 2 */

.page2 {
  padding: 5% 10% 0% 15%;
}

/* VMBO */

.sub-vmbo {
  margin-top: 5%;
  padding: 2.5% 0% 2.5% 15%;
  background-color: rgba(0, 0, 0, 0.23);
  border-top: 2px solid #990033;
  border-bottom: 2px solid #990033;
}

.vmbo_niveau {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.vmbo_sector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #990033;
  padding: 0% 0% 5% 0%;
}

.vmbo_extra {
  border-bottom: 3px solid black;
}

#mvi_vraag {
  margin: 5% 0% 5% 15%;
}

#mvi_vakken {
  margin: 5% 0% 5% 15%;
}

.diploma_behaald {
  margin: 5% 0% 5% 15%;
}

/* HAVO VWO */

.havo-vwo {
  margin-top: 5%;
  border-bottom: 3px solid black;
}

.overgangsbewijs_havo-vwo {
  margin: 5% 0% 5% 15%;
}

/* MBO */

.mbo {
  margin-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  border-bottom: 3px solid black;
}

.mbo_header_1 {
  padding-top: 5%;
}

.opleidings_niveau_mbo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}

.leerweg_mbo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.mbo_header_2 {
  padding-top: 5%;
}

/* INDRUK LEERLING */

.page3 {
  padding: 5% 10% 0% 15%;
}

.rating_student {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  display: none;
}

.indruk_leerling_school {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 5%;
  border-bottom: 2px solid #990033;
}

.leerling_punten>p {
  margin-left: 15%;
}

/* WERKHOUDING LEERLING */

.werkhouding_leerling_title {
  margin-left: 15%;
  color: red;
}

#bottom_werkhouding {
  border-bottom: 2px solid black;
}

/* INSTELLING LEERLING */

.instelling_leerling_title {
  margin-left: 15%;
  color: red;
}

#bottom_instelling {
  border-bottom: 2px solid black;
}

/* VAARDIGHEDEN LEERLING */

.vaardigheden_leerling_title {
  margin-left: 15%;
  color: red;
}

#toelichting {
  margin-left: 15%;
}

#bottom_toelichting_leerling {
  padding-bottom: 5%;
  border-bottom: 3px solid black
}

/* BIJZONDERHEDEN */

.enige_bijzonderheden {
  border-bottom: 2px solid #990033;
  padding-bottom: 5%;
}

#enige_bijzonderheden_title {
  margin-left: 15%;
}

.leerling_bijzonderheden_title {
  margin-left: 15%;
}

.leerling_bijzonderheden {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 5%;
  border-bottom: 2px solid #990033;
}

 .kleine_tekst {
  margin-bottom: 0px;
}

.leerling_bijzonderheden_title_extra {
  font-size: 75%;
  font-style: italic;
}

/* INFORMATIE DECAAN/LERAAR */

  #tele_contact {
    margin-left: 15%;
  }



/* FOOTER */

.next-previous {
  width: 90%;
  display: flex;
  padding: 1em 0;
}

/* ARROW RIGHT */

.fa-arrow-circle-right:hover:before {
  opacity: 0.4;
  cursor: pointer;
}

.fa-arrow-circle-right::before {
  transition: ease-in-out .2s;
}

.fa-arrow-circle-right {
  margin: 0% 43%;
  font-size: 50px;
  color: #990033;
}

/* ARROW LEFT */

.fa-arrow-circle-left:hover:before {
  opacity: 0.4;
  cursor: pointer;
}

.fa-arrow-circle-left::before {
  transition: ease-in-out .2s;
}

.fa-arrow-circle-left {
  margin-left: 15%;
  font-size: 50px;
  color: #990033;
}

/* PROGRESSBAR */

#progressbar {
  width: 100%;
  background-color: #D7D7D7;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  list-style-type: none;
  padding-left: 11%;
}

.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
  margin-left: 6%;
  margin-top: 13%;
  background-color: #990033;
  color: white;
  text-align: center;
  opacity: 0.5;
}

/* Mark the active step: */

.step.active {
  opacity: 1;
}

input.invalid {
  background-color: #ffdddd;
  color: #ffdddd;
}



.step.finish {
  background-color: #4CAF50;
}

#form-group-progressbar {
  margin: 0;
}
